img.c_gaoqingdianying
{
width:45px;
height:45px;
background-position: 0 0;
}
img.c_gaoqingjuji
{
width:45px;
height:45px;
background-position: -45px 0;
}img.c_biaoqingshipin
{
width:45px;
height:45px;
background-position: 0 -45px;
}img.c_jiaoxueshipin
{
width:45px;
height:45px;
background-position: -45px -45px;
}img.c_dongman
{
width:45px;
height:45px;
background-position: 0 -90px;
}
img.c_yinyue
{
width:45px;
height:45px;
background-position: -45px -90px;
}img.c_tiyushipin
{
width:45px;
height:45px;
background-position: 0 -135px;
}
img.c_gongchengruanjian
{
width:45px;
height:45px;
background-position: -45px -135px;
}img.c_dianziwendang
{
width:45px;
height:45px;
background-position: 0 -180px;
}img.c_youxi
{
width:45px;
height:45px;
background-position: -45px -180px;
}img.c_qita
{
width:45px;
height:45px;
background-position: 0 -225px;
}img.c_jilupian
{
width:45px;
height:45px;
background-position: -45px -225px;
}img.c_rmvb{
width:45px;
height:45px;
background-position: 0 -315px;
}img.c_mv
{
width:45px;
height:45px;
background-position: 0 -270px;
}img.c_zongyi
{
width:45px;
height:45px;
background-position: -45px -270px;
}
